=begin
#Persona API Reference

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2025-12-08
Contact: support@withpersona.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module PersonaAPIClient
  class WorkflowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a Workflow Run
    # Creates a new Workflow Run.  Note: The payload is arbitrary and defined by the Workflow version trigger schema.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_inflection Determines casing for the API response.
    # @option opts [String] :idempotency_key Ensures the request is idempotent.
    # @option opts [ApiVersion] :persona_version 
    # @option opts [String] :include A comma-separated list of relationship paths. This can be used to customize which related resources will be fully serialized in the &#x60;included&#x60; key in the response. See [Serialization](https://docs.withpersona.com/serialization#inclusion-of-related-resources) for more details.
    # @option opts [Hash<String, String>] :fields Comma-separated list(s) of attributes to include in the response. This can be used to customize which attributes will be serialized in the response. See [Serialization](https://docs.withpersona.com/serialization#sparse-fieldsets) for more details.
    # @option opts [CreateAWorkflowRunRequest] :create_a_workflow_run_request 
    # @return [CreateAWorkflowRun200Response]
    def create_a_workflow_run(workflow_id, opts = {})
      data, _status_code, _headers = create_a_workflow_run_with_http_info(workflow_id, opts)
      data
    end

    # Create a Workflow Run
    # Creates a new Workflow Run.  Note: The payload is arbitrary and defined by the Workflow version trigger schema.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_inflection Determines casing for the API response.
    # @option opts [String] :idempotency_key Ensures the request is idempotent.
    # @option opts [ApiVersion] :persona_version 
    # @option opts [String] :include A comma-separated list of relationship paths. This can be used to customize which related resources will be fully serialized in the &#x60;included&#x60; key in the response. See [Serialization](https://docs.withpersona.com/serialization#inclusion-of-related-resources) for more details.
    # @option opts [Hash<String, String>] :fields Comma-separated list(s) of attributes to include in the response. This can be used to customize which attributes will be serialized in the response. See [Serialization](https://docs.withpersona.com/serialization#sparse-fieldsets) for more details.
    # @option opts [CreateAWorkflowRunRequest] :create_a_workflow_run_request 
    # @return [Array<(CreateAWorkflowRun200Response, Integer, Hash)>] CreateAWorkflowRun200Response data, response status code and response headers
    def create_a_workflow_run_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.create_a_workflow_run ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.create_a_workflow_run"
      end
      allowable_values = ["camel", "kebab", "snake"]
      if @api_client.config.client_side_validation && opts[:'key_inflection'] && !allowable_values.include?(opts[:'key_inflection'])
        fail ArgumentError, "invalid value for \"key_inflection\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/workflows/{workflow-id}/trigger'.sub('{' + 'workflow-id' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include'] = opts[:'include'] if !opts[:'include'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Key-Inflection'] = opts[:'key_inflection'] if !opts[:'key_inflection'].nil?
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?
      header_params[:'Persona-Version'] = opts[:'persona_version'] if !opts[:'persona_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_a_workflow_run_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAWorkflowRun200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.create_a_workflow_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#create_a_workflow_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all Workflow Runs
    # Returns a list of your environment's workflow runs. Results are returned in reverse chronological order, with the most recently created objects first.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_inflection Determines casing for the API response.
    # @option opts [String] :idempotency_key Ensures the request is idempotent.
    # @option opts [ApiVersion] :persona_version 
    # @option opts [ListAllAccountsPageParameter] :page 
    # @option opts [Hash<String, String>] :fields Comma-separated list(s) of attributes to include in the response. This can be used to customize which attributes will be serialized in the response. See [Serialization](https://docs.withpersona.com/serialization#sparse-fieldsets) for more details.
    # @option opts [ListAllWorkflowRunsFilterParameter] :filter 
    # @return [ListAllWorkflowRuns200Response]
    def list_all_workflow_runs(opts = {})
      data, _status_code, _headers = list_all_workflow_runs_with_http_info(opts)
      data
    end

    # List all Workflow Runs
    # Returns a list of your environment&#39;s workflow runs. Results are returned in reverse chronological order, with the most recently created objects first.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_inflection Determines casing for the API response.
    # @option opts [String] :idempotency_key Ensures the request is idempotent.
    # @option opts [ApiVersion] :persona_version 
    # @option opts [ListAllAccountsPageParameter] :page 
    # @option opts [Hash<String, String>] :fields Comma-separated list(s) of attributes to include in the response. This can be used to customize which attributes will be serialized in the response. See [Serialization](https://docs.withpersona.com/serialization#sparse-fieldsets) for more details.
    # @option opts [ListAllWorkflowRunsFilterParameter] :filter 
    # @return [Array<(ListAllWorkflowRuns200Response, Integer, Hash)>] ListAllWorkflowRuns200Response data, response status code and response headers
    def list_all_workflow_runs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_all_workflow_runs ...'
      end
      allowable_values = ["camel", "kebab", "snake"]
      if @api_client.config.client_side_validation && opts[:'key_inflection'] && !allowable_values.include?(opts[:'key_inflection'])
        fail ArgumentError, "invalid value for \"key_inflection\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/workflow-runs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Key-Inflection'] = opts[:'key_inflection'] if !opts[:'key_inflection'].nil?
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?
      header_params[:'Persona-Version'] = opts[:'persona_version'] if !opts[:'persona_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAllWorkflowRuns200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_all_workflow_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_all_workflow_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a Workflow Run
    # Retrieves the details of an existing workflow run.
    # @param workflow_run_id [String] Workflow Run&#39;s ID (starts with \&quot;wfr_\&quot;)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_inflection Determines casing for the API response.
    # @option opts [String] :idempotency_key Ensures the request is idempotent.
    # @option opts [ApiVersion] :persona_version 
    # @option opts [String] :include A comma-separated list of relationship paths. This can be used to customize which related resources will be fully serialized in the &#x60;included&#x60; key in the response. See [Serialization](https://docs.withpersona.com/serialization#inclusion-of-related-resources) for more details.
    # @option opts [Hash<String, String>] :fields Comma-separated list(s) of attributes to include in the response. This can be used to customize which attributes will be serialized in the response. See [Serialization](https://docs.withpersona.com/serialization#sparse-fieldsets) for more details.
    # @return [RetrieveAWorkflowRun200Response]
    def retrieve_a_workflow_run(workflow_run_id, opts = {})
      data, _status_code, _headers = retrieve_a_workflow_run_with_http_info(workflow_run_id, opts)
      data
    end

    # Retrieve a Workflow Run
    # Retrieves the details of an existing workflow run.
    # @param workflow_run_id [String] Workflow Run&#39;s ID (starts with \&quot;wfr_\&quot;)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :key_inflection Determines casing for the API response.
    # @option opts [String] :idempotency_key Ensures the request is idempotent.
    # @option opts [ApiVersion] :persona_version 
    # @option opts [String] :include A comma-separated list of relationship paths. This can be used to customize which related resources will be fully serialized in the &#x60;included&#x60; key in the response. See [Serialization](https://docs.withpersona.com/serialization#inclusion-of-related-resources) for more details.
    # @option opts [Hash<String, String>] :fields Comma-separated list(s) of attributes to include in the response. This can be used to customize which attributes will be serialized in the response. See [Serialization](https://docs.withpersona.com/serialization#sparse-fieldsets) for more details.
    # @return [Array<(RetrieveAWorkflowRun200Response, Integer, Hash)>] RetrieveAWorkflowRun200Response data, response status code and response headers
    def retrieve_a_workflow_run_with_http_info(workflow_run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.retrieve_a_workflow_run ...'
      end
      # verify the required parameter 'workflow_run_id' is set
      if @api_client.config.client_side_validation && workflow_run_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_run_id' when calling WorkflowsApi.retrieve_a_workflow_run"
      end
      allowable_values = ["camel", "kebab", "snake"]
      if @api_client.config.client_side_validation && opts[:'key_inflection'] && !allowable_values.include?(opts[:'key_inflection'])
        fail ArgumentError, "invalid value for \"key_inflection\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/workflow-runs/{workflow-run-id}'.sub('{' + 'workflow-run-id' + '}', CGI.escape(workflow_run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include'] = opts[:'include'] if !opts[:'include'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'Key-Inflection'] = opts[:'key_inflection'] if !opts[:'key_inflection'].nil?
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?
      header_params[:'Persona-Version'] = opts[:'persona_version'] if !opts[:'persona_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetrieveAWorkflowRun200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.retrieve_a_workflow_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#retrieve_a_workflow_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
